<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <!-- <button pButton pRipple label="Nuevo" icon="pi pi-plus" class="p-button-success mr-2"
                            (click)="openNew()"></button> -->
                    </div>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="appointments" [columns]="cols" responsiveLayout="scroll" [rows]="10"
                [globalFilterFields]="['service_name','client_name','status','description']" [paginator]="true"
                [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true"
                currentPageReportTemplate="Mostrando de {first} a {last} de {totalRecords} registros"
                selectionMode="multiple" [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Citas</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Buscar..."
                                class="w-full sm:w-auto" />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="service_name">Nombre del servicio <p-sortIcon
                                field="service_name"></p-sortIcon></th>
                        <th pSortableColumn="client_name">Nombre del cliente <p-sortIcon
                                field="hairdresser_name"></p-sortIcon></th>
                        <th pSortableColumn="description">Descripción <p-sortIcon field="description"></p-sortIcon></th>
                        <th pSortableColumn="date">Fecha <p-sortIcon field="date"></p-sortIcon></th>
                        <th pSortableColumn="status">Estado <p-sortIcon field="status"></p-sortIcon></th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-appointment>
                    <tr>
                        <td style="width:25%; min-width:10rem;"><span class="p-column-title">Service_name</span>
                            {{appointment.service_name}}
                        </td>
                        <td style="width:25%; min-width:10rem;"><span class="p-column-title">hairdresser_name</span>
                            {{appointment.client_name}}
                        </td>
                        <td style="width:25%; min-width:10rem;"><span class="p-column-title">Description</span>
                            {{appointment.description}}
                        </td>
                        <td style="width:35%; min-width:10rem;"><span class="p-column-title">Date</span>
                            {{appointment.date}}
                        </td>
                        <td style="width:20%; min-width: 10rem;"><span class="p-column-title">Status</span>
                            <span
                                [class]="'appointment-badge status-' + (appointment.status ? appointment.status.toLowerCase() : '')">{{appointment.status}}</span>
                        </td>
                        <td>
                            <div class="flex" *ngIf="appointment.status === 'PENDIENTE'">
                                <button pButton pRipple icon="pi pi-check"
                                    class="p-button-rounded p-button-success mr-2"
                                    (click)="completeAppointment(appointment)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
        <p-dialog [(visible)]="completedAppointment" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span>¿Está seguro que desea completar la cita?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="completedAppointment = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmComplete(appointment)"></button>
            </ng-template>
        </p-dialog>
    </div>
</div>