<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="Nuevo" icon="pi pi-plus" class="p-button-success mr-2"
                            (click)="openNew()"></button>
                        <!-- <button pButton pRipple label="Borrar" icon="pi pi-trash" class="p-button-danger"
                            (click)="deleteSelectedAppointments()"
                            [disabled]="!selectedAppointments || !selectedAppointments.length"></button> -->
                    </div>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="appointments" [columns]="cols" responsiveLayout="scroll" [rows]="10"
                [globalFilterFields]="['service_name','hairdresser_name','status']" [paginator]="true"
                [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true"
                currentPageReportTemplate="Mostrando de {first} a {last} de {totalRecords} registros"
                [(selection)]="selectedAppointments" selectionMode="multiple" [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Citas</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Buscar..."
                                class="w-full sm:w-auto" />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th pSortableColumn="service_name">Nombre del servicio <p-sortIcon field="service_name"></p-sortIcon></th>
                        <th pSortableColumn="hairdresser_name">Nombre del cliente <p-sortIcon field="hairdresser_name"></p-sortIcon></th>
                        <th pSortableColumn="description">Descripción <p-sortIcon field="description"></p-sortIcon></th>
                        <th pSortableColumn="status">Estado <p-sortIcon field="status"></p-sortIcon></th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-appointment>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="appointment"></p-tableCheckbox>
                        </td>
                        <td style="width:35%; min-width:10rem;"><span class="p-column-title">Service_name</span>
                            {{appointment.service_name}}
                        </td>
                        <td style="width:35%; min-width:10rem;"><span class="p-column-title">hairdresser_name</span>
                            {{appointment.hairdresser_name}}
                        </td>
                        <td style="width:35%; min-width:10rem;"><span class="p-column-title">Description</span>
                            {{appointment.description}}
                        </td>
                        <td style="width:35%; min-width: 10rem;"><span class="p-column-title">Status</span>
                            <span [class]="'appointment-badge status-' + (appointment.status ? appointment.status.toLowerCase() : '')">{{appointment.status}}</span>
                        </td>
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil"
                                    class="p-button-rounded p-button-success mr-2"
                                    (click)="editAppointment(appointment)"></button>
                                <!-- <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                                    (click)="deleteAppointment(appointment)"></button> -->
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p-dialog [(visible)]="appointmentDialog" [style]="{width: '450px'}" header="Nueva cita" [modal]="true"
            class="p-fluid">
            <ng-template pTemplate="content">
                <div class="field">
                    <label for="service_name">Nombre del servicio</label>
                    <input type="text" pInputText id="service_name" [(ngModel)]="appointment.service_name" required autofocus
                        [ngClass]="{'ng-invalid ng-dirty' : submitted && !appointment.service_name}" />
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !appointment.service_name">El nombre del servicio es requerido.</small>
                </div>
                <div class="field">
                    <label for="hairdresser_name">Nombre del peluquero</label>
                    <input type="text" pInputText id="hairdresser_name" [(ngModel)]="appointment.hairdresser_name" required autofocus
                        [ngClass]="{'ng-invalid ng-dirty' : submitted && !appointment.hairdresser_name}" />
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !appointment.hairdresser_name">El nombre del peluquero es requerido.</small>
                </div>
                <div class="field">
                    <label for="Description">Descripción</label>
                    <input type="text" pInputText id="Description" [(ngModel)]="appointment.Description" required autofocus
                        [ngClass]="{'ng-invalid ng-dirty' : submitted && !appointment.Description}" />
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !appointment.Description">La descripción es requerida.</small>
                </div>
            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text"
                    (click)="hideDialog()"></button>
                <button pButton pRipple label="Guardar" icon="pi pi-check" class="p-button-text"
                    (click)="saveAppointment()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteAppointmentDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="appointment">¿Está seguro que desea eliminar la cita?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
                    (click)="deleteAppointmentDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Sí"
                    (click)="confirmDelete()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteAppointmentsDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span>¿Está seguro que desea eliminar las citas seleccionadas?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
                    (click)="deleteAppointmentsDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Sí"
                    (click)="confirmDeleteSelected()"></button>
            </ng-template>
        </p-dialog>
    </div>
</div>

