<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="Nuevo" icon="pi pi-plus" class="p-button-success mr-2"
                            (click)="openNew()"></button>
                    </div>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="services" [columns]="cols" responsiveLayout="scroll" [rows]="10"
                [globalFilterFields]="['name','status']" [paginator]="true"
                [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true"
                currentPageReportTemplate="Mostrando de {first} a {last} de {totalRecords} registros"
                [(selection)]="selectedServices" selectionMode="multiple" [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Servicios</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Buscar..."
                                class="w-full sm:w-auto" />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                    
                        <th pSortableColumn="name">Nombre <p-sortIcon field="name"></p-sortIcon></th>
                        <th pSortableColumn="price">Precio <p-sortIcon field="price"></p-sortIcon></th>
                        <th pSortableColumn="status">Estado <p-sortIcon field="status"></p-sortIcon></th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-service>
                    <tr>
                        <td style="width:17%; min-width:10rem;"><span class="p-column-title">Name</span>
                            {{service.name}}
                        </td>
                        <td style="width:17%; min-width:10rem;"><span class="p-column-title">Price</span>
                            {{service.price}}
                        </td>
                        <td style="width:17%; min-width: 10rem;"><span class="p-column-title">Status</span>
                            <span>{{ service.status ? 'ACTIVO' : 'INACTIVO' }}</span>
                        </td>
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil"
                                    class="p-button-rounded p-button-info mr-2"
                                    (click)="editService(service)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p-dialog [(visible)]="serviceDialog" [style]="{width: '450px'}" header="Nuevo servicio" [modal]="true"
            class="p-fluid">
            <ng-template pTemplate="content">
                <div class="field">
                    <label for="name">Nombre</label>
                    <input type="text" pInputText id="name" [(ngModel)]="service.name" required autofocus
                        [ngClass]="{'ng-invalid ng-dirty' : submitted && !service.name}" />
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !service.name">El nombre es requerido.</small>
                </div>
                <div class="field">
                    <label for="price">Precio</label>
                    <input type="number" pInputText id="price" [(ngModel)]="service.price" required autofocus
                        [ngClass]="{'ng-invalid ng-dirty' : submitted && !service.price}" />
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !service.price">El precio es requerido.</small>
                </div>
            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text"
                    (click)="hideDialog()"></button>
                <button pButton pRipple label="Guardar" [disabled]="isFormValid()" icon="pi pi-check" class="p-button-text"
                    (click)="saveService()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="serviceDialogUpdate" [style]="{width: '450px'}" header="Editar servicio" [modal]="true"
            class="p-fluid">
            <ng-template pTemplate="content">
                <div class="field">
                    <label for="name">Nombre</label>
                    <input type="text" pInputText id="name" [(ngModel)]="service.name" required autofocus
                        [ngClass]="{'ng-invalid ng-dirty' : submitted && !service.name}" />
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !service.name">El nombre es requerido.</small>
                </div>
                <div class="field">
                    <label for="price">Precio</label>
                    <input type="number" pInputText id="price" [(ngModel)]="service.price" required autofocus
                        [ngClass]="{'ng-invalid ng-dirty' : submitted && !service.price}" />
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !service.price">El precio es requerido.</small>
                </div>
                <div class="field">
                    <label for="status">Estado</label>
                    <p-dropdown [(ngModel)]="service.status" [options]="statuses" placeholder="Select" appendTo="body">
                    </p-dropdown>
                </div>
            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text"
                    (click)="hideDialog()"></button>
                <button pButton pRipple label="Guardar" [disabled]="isFormValid()" icon="pi pi-check" class="p-button-text"
                    (click)="saveService()"></button>
            </ng-template>
        </p-dialog>
    </div>
</div>
