<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="Nuevo" icon="pi pi-plus" class="p-button-success mr-2"
                            (click)="openNew()"></button>
                        <button pButton pRipple label="Borrar" icon="pi pi-trash" class="p-button-danger"
                            (click)="deleteSelectedUsers()"
                            [disabled]="!selectedUsers || !selectedUsers.length"></button>
                    </div>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="users" [columns]="cols" responsiveLayout="scroll" [rows]="10"
                [globalFilterFields]="['names','status','email','lastname']" [paginator]="true"
                [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true"
                currentPageReportTemplate="Mostrando de {first} a {last} de {totalRecords} registros"
                [(selection)]="selectedUsers" selectionMode="multiple" [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Usuarios</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Buscar..."
                                class="w-full sm:w-auto" />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th pSortableColumn="names">Nombres <p-sortIcon field="names"></p-sortIcon></th>
                        <th pSortableColumn="lastname">Apellidos <p-sortIcon field="lastname"></p-sortIcon></th>
                        <th pSortableColumn="date_birth">Fecha de nacimiento <p-sortIcon field="date_birth"></p-sortIcon></th>
                        <th pSortableColumn="email">Correo <p-sortIcon field="email"></p-sortIcon></th>
                        <th pSortableColumn="phone">Telefono <p-sortIcon field="phone"></p-sortIcon></th>
                        <th pSortableColumn="status">Estado <p-sortIcon field="status"></p-sortIcon></th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-user>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="user"></p-tableCheckbox>
                        </td>
                        <td style="width:17%; min-width:10rem;"><span class="p-column-title">Names</span>
                            {{user.names}}
                        </td>
                        <td style="width:17%; min-width:10rem;"><span class="p-column-title">Lastname</span>
                            {{user.lastname}}
                        </td>
                        <td style="width:17%; min-width:10rem;"><span class="p-column-title">Datebirth</span>
                            {{user.date_birth}}
                        </td>
                        <td style="width:17%; min-width:10rem;"><span class="p-column-title">Email</span>
                            {{user.email}}
                        </td>
                        <td style="width:17%; min-width:10rem;"><span class="p-column-title">Phone</span>
                            {{user.phone}}
                        </td>
                        <td style="width:17%; min-width: 10rem;"><span class="p-column-title">Status</span>
                            <span [class]="'user-badge status-' + (user.status ? user.status.toLowerCase() : '')">{{user.status}}</span>
                        </td>
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil"
                                    class="p-button-rounded p-button-success mr-2"
                                    (click)="editUser(user)"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                                    (click)="deleteUser(user)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p-dialog [(visible)]="userDialog" [style]="{width: '450px'}" header="Nuevo usuario" [modal]="true"
            class="p-fluid">
            <ng-template pTemplate="content">
                <div class="field">
                    <label for="names">Nombres</label>
                    <input type="text" pInputText id="names" [(ngModel)]="user.names" required autofocus
                        [ngClass]="{'ng-invalid ng-dirty' : submitted && !user.names}" />
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !user.names">El nombre es requerido.</small>
                </div>
                <div class="field">
                    <label for="lastname">Apellidos</label>
                    <input type="text" pInputText id="lastname" [(ngModel)]="user.lastname" required autofocus
                        [ngClass]="{'ng-invalid ng-dirty' : submitted && !user.lastname}" />
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !user.lastname">El apellido es requerido.</small>
                </div>
                <div class="field">
                    <label for="date_birth">Fecha de nacimiento</label>
                    <input type="text" pInputText id="date_birth" [(ngModel)]="user.date_birth" required autofocus
                        [ngClass]="{'ng-invalid ng-dirty' : submitted && !user.date_birth}" />
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !user.date_birth">La fecha de nacimiento es requerida.</small>
                </div>
                <div class="field">
                    <label for="email">Correo</label>
                    <input type="email" pInputText id="email" [(ngModel)]="user.email" required autofocus
                        [ngClass]="{'ng-invalid ng-dirty' : submitted && !user.email}" />
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !user.email">El correo es requerido.</small>
                </div>
                <div class="field">
                    <label for="password">Contraseña</label>
                    <input type="password" pInputText id="password" [(ngModel)]="user.password" required autofocus
                        [ngClass]="{'ng-invalid ng-dirty' : submitted && !user.password}" />
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !user.password">La contraseña es requerida.</small>
                </div>
                <div class="field">
                    <label for="phone">Teléfono</label>
                    <input type="text" pInputText id="phone" [(ngModel)]="user.phone" required autofocus
                        [ngClass]="{'ng-invalid ng-dirty' : submitted && !user.phone}" />
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !user.phone">El teléfono es requerido.</small>
                </div>
                <div class="field">
                    <label for="address">Dirección</label>
                    <input type="text" pInputText id="address" [(ngModel)]="user.address" required autofocus
                        />
                </div>
            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text"
                    (click)="hideDialog()"></button>
                <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text"
                    (click)="saveUser()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteUserDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="user">¿Está seguro que desea eliminar el usuario? <b>{{user.names}}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
                    (click)="deleteUserDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes"
                    (click)="confirmDelete()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteUsersDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span>Está seguro que desea eliminar los usuarios seleccionados?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
                    (click)="deleteUsersDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes"
                    (click)="confirmDeleteSelected()"></button>
            </ng-template>
        </p-dialog>
    </div>
</div>